dist: focal
language: python
python:
  - 3.9
  - "3.10"
  - "3.11"
  - "3.12"
git:
  depth: false
before_install:
  - curl -LsSf https://astral.sh/uv/install.sh | sh
  - source $HOME/.cargo/env
install:
  - pip uninstall whatstk
  - make install.dev
  - cat MANIFEST.in
  - make generate-test-data
script:
  - make lint
  - pytest --cov-report term --cov=whatstk tests
after_success:
  - codecov # submit coverage

jobs:
  include:
    # perform a linux build
    # - services: docker
    # and a windows build
    - os: windows
      language: shell
      before_install:
        - choco upgrade python -y --version 3.12.2
        - export PATH="/c/Python312:/c/Python312/Scripts:$PATH"
        # make sure it's on PATH as 'python3'
        - ln -s /c/Python312/python.exe /c/Python312/python3.exe
    - stage: deploy
      python: 3.11
      deploy:
        - provider: pypi
          user: $USER_PYPI
          password: $PWD_PYPI
          on:
            tags: true
