include *.md
include LICENSE
include pyproject.toml
include whatstk/whatsapp/assets/header_format_support.json
include .coveragerc

recursive-include altair *.py *.json *.ipynb *.html
global-exclude *.py[co] __pycache__