include *.md
include LICENSE
include requirements.txt
include requirements-test.txt
include requirements-flake.txt
include requirements-docs.txt
include whatstk/whatsapp/assets/header_format_support.json
include .coveragerc

recursive-include altair *.py *.json *.ipynb *.html
global-exclude *.py[co] __pycache__