recommonmark==0.6.0
Sphinx==3.0.4
sphinx-rtd-theme==0.4.3
sphinx-copybutton==0.2.11
sphinx-git==11.0.0
autodocsumm==0.1.13
# gitchangelog==3.0.4
auto-changelog==0.5.1
recommonmark==0.6.0
# pillow, psutil, sphinx-gallery